@import './var';
.debug {
    background-color: rgba(255, 2, 2, .4);
    border: 1px solid black;
}

.container {
    width: 60%;
}

.mini-container {
    width: 58%;
    margin: 0 auto;
    text-align: center;
}

.lm-btn {
    background-color: $primary-color;
    text-transform: uppercase;
    padding: 10px 20px;
    cursor: pointer;
}

.social {
    padding-top: 20px;
}

.social-icon {
    width: 30px;
    height: 30px;
    font-size: 14px;
    text-align: center;
    border-radius: 5px;
    line-height: 30px;
    color: #fff;
    margin-right: 5px;
    cursor: pointer;
    transition: all .5s;
    &:hover {
        transform: translateY(-15px);
    }
}

.facebook {
    background-color: #3c5998;
}

.twitter {
    background-color: #54acee;
}

.instagram {
    background-color: #3f729b;
}

.youtube {
    background-color: #cd201f;
}